{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body style="background-color: white;">
    <div class="container-fluid">
      <h1 style="background-color:green; color: black;" class="text-center">
        Learning Tool - CMPE 131 Project
      </h1>
      <div class="text-center" style="color: black">
        <h1>Features</h1>
      </div>
      <div style="margin-top: 15px; color: black" >
        <ul class="text-center" style="margin-left: -1200px; margin-top: 50px" id='Management'>
          <ol>
            Register/Login Function
            <img src="/static/cmpe131.png">
          </ol>
          <ol>
            Account Management
            <img src="/static/cmpe131.png">
          </ol>
          <ol>
            Flash Card Management (Create, Edit, Delete)
            <img src="/static/cmpe131.png">
          </ol>
          <ol>
            Notes Management (Create, Delete, Render)
            <img src="/static/cmpe131.png">
          </ol>
          <ol>
            To-Do-List Management (Create, Delete, Update)
            <img src="/static/cmpe131.png">
          </ol>
          <ol>
            Light + Dark Mode
            <img src="/static/cmpe131.png">
          </ol>
        </ul>    
        <ul class="text-center" style="margin-top: -500px" id='Time'>
          <ol>
            Pomodoro Timer
            <img src="/static/cmpe131.png">
          </ol>
          <ol>
            Assignment Timer
            <img src="/static/cmpe131.png">
          </ol>
          <ol>
            Break Alerts
            <img src="/static/cmpe131.png">
          </ol><br><br>
          <br><br>
        </ul>
        <ul class="text-center" style="margin-left: 1100px;margin-top: -400px" id='FlashCards_Notes'>
          <ol>
            Custom Flashcard Hints
            <img src="/static/cmpe131.png">
          </ol>
          <ol>
            Email/Share Flashcards
            <img src="/static/cmpe131.png">
          </ol>
          <ol>
            Custom Flashcard Images
            <img src="/static/cmpe131.png">
          </ol>
          <ol>
            Notes to PDF
            <img src="/static/cmpe131.png">
          </ol>
        </ul>
      </div>
    </div>
    <script>
      setTimeout(function confirmAction() {
        let confirmAction = confirm(
          "You've studied for one hour. Do you want to take a break?"
        );
        if (confirmAction) {
          alert("Enjoy your break!");
        } else {
          alert("Have a good study!");
        }
      }, 3600000);
      
    </script>
  </body>
</html>
{% endblock %}
