{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<style>
  .splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    color: white;
    text-align: center;
    background-image: url('/static/png.png');
   }
  h1{
    margin-top: 15%;
    font-size: 65px;
  }
  .continue {
    margin-top: 5%;
    margin-bottom: auto;
    font-size: 24px;
  }

</style>
<body>
  <div class="splash" id="image">
    <h1>Welcome to our Project</h1>
    <a href="/home"  onclick="timeout_clear()" class="continue"style="color: aqua;"><span></span>Continue to Page &raquo </a>

    <script>
        var image = document.getElementById("image");
          setTimeout(function () {
            image.style.display = "none";
          }, 150000);
          function timeout_clear() {
            clearTimeout(image);
          image.style.display = "none";
          }
      </script>
  </div>
</body>
</html>
{% endblock %}
